:root{
    --mainColor:#595656;
    --lightColor:#fff;
    --dark-100:#000;
    --dark-75:#1b1b1b;
    --dark-50:#202020;
    --accent:#3EA0CD;
    --marker-sei:#477096ad;
    --marker-shi:#854492ad;
    --transition-adjust: 0.3s ease;;
}

body{
    margin: 0;
    background-color: var(--dark-50);
}
#toppage{
    padding:5vh;
    text-align: right;
}
.btn{
    color:white;
    text-align: center;
    background: linear-gradient(90deg, #7c7c7c 0%,var(--mainColor) 40%, var(--accent) 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    margin: auto;
    display: inline-block;
    width: 100px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 2em;
    padding-right: 2em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    transition:  var(--transition-adjust);
    opacity: 0.9;
}
.btn:hover{
    background-position: 50% 50%;
    cursor: default;
    opacity:1;
}
.btn.active{
    background-position: 100% 50%;
    opacity:1;

}

#Translate,#Vrd3d,#Other{
    display: none;
}